/* Start Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

body {
    width: 100%;
    height: 100%;
    background: url('../images/background.jpg') no-repeat center fixed;
    background-size: cover;

}

section {
    padding: 15rem 6rem;
}

a {
    text-decoration: none;
    color: #eee;
}

p {
    font-size: 2.2rem;
    font-weight: 300;
}

img {
    width: 100%;
}
/* End Global */

/* Start Reusable */
.container {
    width: 90%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.section-heading {
    text-align: center;
    margin-bottom: 10rem;
}

.section-heading h1 {
    font-size: 3.5rem;
    color: rgba(2555, 2555, 2555, 1);
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 1rem;
}

.section-heading h1::before,
.section-heading h1::after {
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(2555, 2555, 2555, 0.75);
}

.section-heading h1::before {
    width: 10rem;
    height: 3px;
    border-radius: .8rem;
}

.section-heading h1::after {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    bottom: -1rem;
}

.section-heading h6 {
    font-size: 1.6rem;
    font-weight: 300;
}

.has-margin-right {
    margin-right: 5rem;
}
/* End Reusable */


/* Start Header */
header {
    width: 100%;
    height: 100vh;
}

.landing-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 1;
}

.landing-text h1 {
    font-size: 20rem;
    font-family: 'Dancing Script', sans-serif;
    background: linear-gradient(to top, #ffe838, #fd57bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1rem;
}

.landing-text h6 {
    font-size: 2rem;
    font-weight: 900;
}

.landing-text button{
    margin: 1rem;
}

.landing-text a{
    color: black;
    padding: 10px;
}
 
.bloglandings {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 1;
}

.bloglandings h1 {
    font-size: 20rem;
    font-family: 'Dancing Script', sans-serif;
    background: linear-gradient(to top, #ffe838, #fd57bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1rem;
}

.bloglandings h6 {
    font-size: 2rem;
    font-weight: 900;
}

.bloglandings button{
    margin: 1rem;
}

.bloglandings a{
    color: black;
    padding: 10px;
}

.video{
    width: 50%;
    height: 315px;
    margin: 10px;
}

.bloglandingIMG{
    width: 25%;
    height: 25%;
}


/* End Header */



/* Start Portfolio */
.portfolio-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    padding-bottom: 30px;

}

.portfolio-item:last-child {
    margin-bottom: 0;
}

.portfolio-img {
    width: 50rem;
    flex: 1;
}

.portfolio-description {
    flex: 1;
    background-color: black;
    opacity: .9;
    padding: 40px;
    border-radius: 10rem;
}

.portfolio-description h1 {
    font-size: 3rem;
    font-weight: 400;
    margin: 1rem 0;
}

.portfolio-description h6 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    opacity: 1;
    color: white;
    font-style: italic;
}

.portfolio-description .cta {
    display: inline-block;
    margin-top: 2.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #81d200;
    transition: color 650ms;
}

.portfolio-description .cta:hover {
    color: #2f67cd;
}

.bloglink{
    text-decoration: none;
    color: yellow;
}

.lists{
    font-size: 2rem;
}
.firstbullet{
    list-style-type: none;
    font-size: 3rem;
    margin-top: 3rem;
    font-style: italic;
}

.iframediv{
    text-align: center;
}

.biglists > li, ul{
    padding: 10px;
    font-size: 2rem;
}

.awsimage{
    text-align: center;
}

/* End Portfolio */


/* Start contact form */

form {
    width: 70%;
    margin: 0 auto;    
}

form label {
    font-size: 1.5rem;
}

input,
select,
textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 15px;
    border: none;
    outline-color: #fd57bf;
}

input[type="submit"] {
    width: initial;
    background-color: #fd57bf;
    color: #eee;
    padding: 1rem 2rem;
    border-radius: .8rem;
    cursor: pointer;
    transition: backgorund-color 650ms;
}

input[type="submit"]:hover {
    color: #221e3f;
    background-color: #ffe838;
}


/* End contact form */

/* Start copyright */
.copyright {
    width: 100%;
    text-align: center;
    background-color: #16162d;
    padding: 2rem 0;
    position: relative;
}

.up {
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: #eee;
    top: -2.5rem;
    right: 5rem;
    border-radius: 100%;
    display: flex;
    animation: pulse 2s infinite;
}

.up i {
    color: #16162d;
    font-size: 2rem;
    margin: auto;
}

.copyright p {
    font-size: 1.4rem;
}
/* End copyright */

/* Start animations */
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(253, 87, 191, 0.99);
    }

    70% {
        box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(253, 87, 191, 0.99);
    }
}
/* End animations */

